@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon2a64.ttf?6c81acffbaea668c38df4286a10550b3") format("truetype"),
url("../fonts/flaticon2a64.woff?6c81acffbaea668c38df4286a10550b3") format("woff"),
url("../fonts/flaticon2a64.woff2?6c81acffbaea668c38df4286a10550b3") format("woff2"),
url("../fonts/flaticon2a64.eot?6c81acffbaea668c38df4286a10550b3#iefix") format("embedded-opentype"),
url("../fonts/flaticon2a64.svg?6c81acffbaea668c38df4286a10550b3#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i[class*="flaticon-"] {
    display: block;
    line-height: 0;
}

/* first image */
.flaticon-tape-measure {
    background-image: url('https://cdn-icons-gif.flaticon.com/7920/7920938.gif');
    background-size: contain; /* Adjust the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: inline-block; /* Makes the element behave like an inline element with block-level capabilities */
    width: 50px; /* Set the width according to your needs */
    height: 50px; /* Set the height according to your needs */
    background-color: transparent; /* Ensures the background is transparent */
    border-radius: 10px;
}


.flaticon-abs {
    background-image: url('https://cdn-icons-gif.flaticon.com/16780/16780802.gif');
    background-size: contain; /* Adjust the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: inline-block; /* Makes the element behave like an inline element with block-level capabilities */
    width: 50px; /* Set the width according to your needs */
    height: 50px; /* Set the height according to your needs */
    background-color: transparent; /* Ensures the background is transparent */
    border-radius: 10px;
}
.flaticon-weight {
    background-image: url('https://cdn-icons-gif.flaticon.com/10398/10398539.gif');
    background-size: contain; /* Adjust the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: inline-block; /* Makes the element behave like an inline element with block-level capabilities */
    width: 50px; /* Set the width according to your needs */
    height: 50px; /* Set the height according to your needs */
    background-color: transparent; /* Ensures the background is transparent */
    border-radius: 10px;
}

/* second icon */
.flaticon-test {
    background-image: url('https://cdn-icons-gif.flaticon.com/8801/8801099.gif');
    background-size: contain; /* Adjust the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: inline-block; /* Makes the element behave like an inline element with block-level capabilities */
    width: 50px; /* Set the width according to your needs */
    height: 50px; /* Set the height according to your needs */
    background-color: transparent; /* Ensures the background is transparent */
    border-radius: 10px;
}

.flaticon-layout:before {
    content: "\f105";
}
.flaticon-search:before {
    content: "\f106";
}
.flaticon-shopping-cart:before {
    content: "\f107";
}
.flaticon-shopping-cart-1:before {
    content: "\f108";
}
.flaticon-left-arrow:before {
    content: "\f109";
}
.flaticon-right-arrow:before {
    content: "\f10a";
}
.flaticon-whey-protein:before {
    content: "\f10b";
}
.flaticon-whey:before {
    content: "\f10c";
}
.flaticon-vitamin:before {
    content: "\f10d";
}
.flaticon-protein-supplement:before {
    content: "\f10e";
}
.flaticon-vitamin-1:before {
    content: "\f10f";
}
.flaticon-fitness:before {
    content: "\f110";
}
.flaticon-slim-down:before {
    content: "\f111";
}
.flaticon-strong:before {
    content: "\f112";
}
.flaticon-vitamins:before {
    content: "\f113";
}
.flaticon-dumbbell:before {
    content: "\f114";
}
.flaticon-protein:before {
    content: "\f115";
}
.flaticon-whey-protein-1:before {
    content: "\f116";
}
.flaticon-whey-protein-2:before {
    content: "\f117";
}
.flaticon-whey-1:before {
    content: "\f118";
}
.flaticon-proteins:before {
    content: "\f119";
}
.flaticon-supplement:before {
    content: "\f11a";
}
/* .flaticon-whey-protein-3:before {
    content: "\f11b";
} */
.flaticon-strong-1:before {
    content: "\f11c";
}
.flaticon-vitamins-1:before {
    content: "\f11d";
}
.flaticon-protein-1:before {
    content: "\f11e";
}
.flaticon-protein-2:before {
    content: "\f11f";
}
.flaticon-body:before {
    content: "\f120";
}
.flaticon-abs-1:before {
    content: "\f121";
}
.flaticon-view:before {
    content: "\f122";
}
.flaticon-capsule:before {
    content: "\f123";
}
.flaticon-drug:before {
    content: "\f124";
}
